.order-size__wrapper {
  @include container(320px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  min-height: 335px;
  padding: 0 30px;
  background-color: $color-white;
  border: 1px solid $color-grey;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .order-size__wrapper {
    @include container(568px);
    padding: 0 107px;
  }
}
