@media (min-width: 768px) {
  .contacts__map {
    width: 768px;
    height: 457px;
    margin-top: 30px;
  }
}

@media (min-width: 1150px) {
  .contacts__map {
    width: 525px;
    height: 460px;
    margin-top: 80px;
  }
}
