.order__form {
  @include reset-indents();
  margin-top: 10px;
}

.order__form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

@media (min-width: 768px) {
  .order__form {
    margin-top: 0;
  }
}
