.feedback__page-item--back::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 26px;
  left: calc(50% - 20px);
  top: 12px;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
}
