@media (min-width: 768px) {
  .catalog__production-image {
    width: 668px;
    height: 455px;
  }
}

@media (min-width: 1150px) {
  .catalog__production-image {
    width: 680px;
    height: 450px;
  }
}
