.contacts__button {
  margin-top: 42px;
  align-self: center;
}

@media (min-width: 768px) {
  .contacts__button {
    width: 230px;
    margin-top: 52px;
  }
}

@media (min-width: 768px) and (max-width: 1049px) {
  .contacts__button {
    margin-top: 44px;
  }
}

@media (min-width: 1150px) {
  .contacts__button {
    position: absolute;
    bottom: 11px;
    left: 275px;
  }
}
