.about-us__list {
  @include reset-indents();
  @include list-base-style();
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .about-us__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
}
