.main-menu__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-menu__link:hover .main-menu__icon {
  fill: $color-light-turquoise;
  opacity: 1;
}

.main-menu__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-menu__link:active .main-menu__icon {
  opacity: 0.3;
}

@media (min-width: 768px) {

}

@media (min-width: 1150px) {

}
