$color-black: #000000;
$color-white: #ffffff;
$color-grey: #ececec;
$color-light-grey: #f1f1f1;
$color-light-grey2: #f9f9f9;
$color-dark-grey: #444444;
$color-turquoise: #6cc7b6;
$color-turquoise2: #62d1ba;
$color-dark-turquoise: #56c3b2;
$color-dark-turquoise2: #46c1ae;
$color-light-turquoise: #63d1bb;
$color-light-turquoise2: #59d5bc;
