.catalog__button-order {
  position: relative;
}

.catalog__button-order svg {
  position: absolute;
  top: 0;
  left: -15px;
  opacity: 0.2;
}

.catalog__button-order:hover svg {
  fill: $color-light-turquoise;
  opacity: 1;
}

.catalog__button-order:active svg {
  opacity: 0.3;
}
