@media (max-width: 767px) {
  .catalog__product-image {
    max-height: 195px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .catalog__product-image {
    width: 335px;
    height: 335px;
  }
}

@media (min-width: 1150px) {
  .catalog__product-image {
    width: 316px;
    height: 462px;
  }
}
