.product__image {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .product__image {
    width: 335px;
    height: 410px;
    margin-top: 45px;
  }
}

@media (min-width: 1150px) {
  .product__image {
    width: 525px;
    height: 636px;
    margin-top: -115px;
    z-index: -1;
  }
}
