.about-us {
  @include container(260px);
  display: flex;
  flex-direction: column;
  padding: 0 30px 35px;
}

@media (min-width: 768px) {
  .about-us {
    @include container(668px);
    padding: 0 50px;
  }
}

@media (min-width: 1150px) {
  .about-us {
    @include container(700px);
    padding: 0 275px;
  }
}
