.about-us__item--icon-1::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 37px;
  left: 0;
  top: 30px;
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .about-us__item--icon-1 {
    order: 1;
  }
}
